@charset "UTF-8";


@media (max-width:570px) {
  .menu-links {
    gap: 0px;
  }
  .menu-links a {
    max-width: 200px;
  }
  .main-menu > p {
    display: none;
  }
  .menu-links a.emphasis-button {
    display: inline-block;
  }
  .about-me {
    padding: 0px;
  }
  .about-me h1 {
    font-size: 2em;
    text-align: left;
    padding: 10px;
    margin: 5px;
  }
  .about-me p {
    padding: 10px;
    padding-left: 15px;
    font-size: 1em;
  }
  .about-button {
    padding: 0px;
    margin: 0px;
  }
  .about-button a {
    padding: 15px;
    margin: 12px;
    font-size: 1em;
  }
  .projects {
    justify-content: flex-start;
  }
  .projects-menu p {
    max-width: 200px;
  }
  .container-projects h2 {
    padding-bottom: 25px;
  }
  .container-projects aside {
    display: inline;
    padding-bottom: 25px;
    font-family: "Inter", sans-serif;
  }
  .container-projects aside img {
    display: inline;
    max-width: 50px;
  }
}
