@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
html, body {
    width: 100%;
    scroll-behavior: smooth;
}
header {
    padding: 5px;
}
main {
    max-width: 100%;
    padding: 5px;
}
/* ==== HEADER SECTION ==== */
.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;   
}
.menu-links {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.menu-links a {
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    color: black;
    transition: transform 0.3s ease;
    display: inline-block;
    transform-origin: center;
}
.menu-links .emphasis-button {
    color: white;
    background-color: black;
    border-radius: 5px;

}
.menu-links a:hover {
    transform: scale(1.1);
}
/* ==== HEADER SECTION ==== */

/* ==== SECTION ABOUT-ME ==== */
.container-main {
    position: relative;

}
.about-me {
    padding: 30px;
}
.about-me h1 {
    font-size: 3.5em;
    padding: 10px;
    padding-top: 100px;
}
.about-me p {
    padding: 0px;
    max-width: 400px;
    padding-left: 15px;
    font-size: 1em;
}
.about-button a {
    display: inline-block;
    background-color: black;
    font-size: 1.3em;
    padding: 15px;
    margin: 40px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: transform 0.3s ease;
}
.about-button a:hover {
    transform: scale(1.1);
}
.github-link {
  display: flex;
  justify-content: center;
  margin-top: 10px; 
  max-width: 100%;
}

.github-link img {
  border-radius: 5px;
  max-width: 100%;
}

/* ==== SECTION ABOUT-ME ==== */

/* ==== SECTION PROJECTS ==== */

.container-projects {
    text-align: center;


}
.container-projects a {
    text-decoration: none;
    color: black;

}
.projects {
    display: flex;
    overflow-x: auto;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    gap: 34px;
    text-align: center;
    
}
.projects-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}
.projects-menu img {
  max-width: 300px;
  padding: 15px;
  border-radius: 25px;
}
.projects-menu p {
    padding-bottom: 40px;
}
.container-projects aside {
  display: none;
}
.container-projects aside img {
  display: none;
}
.container-projects h2 {
    font-size: 2em;
    padding: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
}