@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

/* KEYFRAMES */
@keyframes bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes slider {
    100% {
        transform: translateX(-50%);
    }
    0% {
        transform: translateX(0%);
    }
    
}

/* CSS MAIN */

body {  
  max-width: 100%;
  background: linear-gradient(
    -60deg,
    #262626,
    #0d0d0d
  );
  background-size: 400% 400%;
  animation: bg 5s ease infinite;
}

/* CONTAINER PRINCIPAL */

.container-principal {
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex; 
    max-width: 100%;
    max-height: 100%; 
}
.container-usuario {
    align-content: center;
    min-width: 50%;
}
.container-projetos {
    min-height: 70vh;
    max-width: 40vw;
    
}

.container-usuario img {
    width: 200px;
    border-radius: 200px;
}

.container-habilidades {
    align-content: center;
    height: 100px;
    width: 500px;
    overflow: hidden;
}

.habilidades-conteudo {
    padding-top: 20px;
    width: 100%;
    gap: 20px;
    display: inline-flex;
    animation: slider 6s linear infinite;

}
.conteudo-projetos {
    padding: 20px;
}
.conteudo-projetos img {
    width: 150px;
}
.conteudo-projetos ul {
    list-style-position: inside;
}