@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* KEYFRAMES */
@keyframes bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes slider {
  100% {
    transform: translateX(-50%);
  }
  0% {
    transform: translateX(0%);
  }
}

@keyframes typing {
  from {
    width: 0ch;
  }
  to {
    width: 10ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* CSS MAIN */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(-60deg, #262626, #0d0d0d);
  background-size: 400% 400%;
  animation: bg 5s ease infinite;
}

/* CONTAINER PRINCIPAL */

.container-principal {
  padding: 20px;
  display: flex;
  max-width: 95%;
  max-height: 95%;
  background-color: #26262675;
  border-radius: 20px;
  box-shadow: 1px 1px 20px black;
}
.container-usuario {
  align-content: center;
  min-width: 50%;
}
.container-usuario h1 {
  padding-bottom: 30px;
  font-size: 2em;
  color: white;
}
.container-usuario span {
  display: inline-block;
  color: rgba(255, 0, 0, 0.342);
  font-size: 2.1em;
  margin-inline: auto;
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid;
  animation: typing 2.8s steps(11, end) forwards, blink 0.7s step-end infinite;
}

.container-usuario img {
  width: 150px;
  border-radius: 100px;
}

.container-socials {
  color: white;
  padding: 10px;
  text-align: center;
}

.container-socials a {
  color: white;
}

.container-socials i {
  padding: 15px;
}

#socials-1:hover {
  color: red;
}
#socials-2:hover {
  color: red;
}
#socials-3:hover {
  color: red;
}

.container-projetos {
  min-height: 70vh;
  max-width: 40vw;
}

.container-habilidades {
  align-content: center;
  height: 100px;
  width: 500px;
  overflow: hidden;
}

.habilidades-conteudo {
  padding-top: 20px;
  max-width: 100%;
  gap: 15px;
  display: inline-flex;
  animation: slider 6s linear infinite;
}
.habilidades-conteudo:hover {
  animation-play-state: paused;
}
.conteudo-projetos {
  padding: 20px;
}
.conteudo-projetos img {
  width: 150px;
}
.conteudo-projetos ul {
  list-style-position: inside;
}
